# Score Card for 2017 BWF World Championships – Women's singles

# Relevant rules of Badminton Championship to this project

### What is a set?
Each set is played to 21 points, with players scoring a point whenever they win a rally regardless of whether they served.
<br>If the score reaches 20-all, then the set continues until one side gains a two-point lead (such as 24–22), except when there is a tie at 29-all, in which the set goes to a golden point. 
<br>Whoever scores this point will win.

### What is a game ? 
A match or a game is the best of three sets.
<br>Games or matches are best out of three: a player or pair must win two sets (of 21 points each) to win the match.

# Problem Statement

You have to write a Python program that reads information about all the matches and compiles the following statistics for each player:

Number of sets won 
<br>Number of games won 
<br>Number of sets lost 
<br>Number of games lost

### Format of Input is 
<br>Winner:Loser:Set-1-score,...,Set-k-score, where k could be 2 or 3

### Format of Output is 

Player1 : SW : Number of sets won GW : Number of games won SL : Number of sets lost GL : Number of games lost
<br>.
<br>.
<br>.
<br>.
<br> Playern : SW : Number of sets won GW : Number of games won SL : Number of sets lost GL : Number of games lost

Here, SW stands for Number of sets won
<br>GW stands for Number of games won
<br>SL stands for Number of sets lost
<br>GL stands for Number of games lost.

### For example:

**Input:**

T Lad:C Birch:17-21,21-10,21-19
<br>T Lad:Sung J-h:21-9,21-19 

**Explanation for input:**
<br>T Lad beat C Birch 17-21,21-10,21-19 in the first match and then in the second one T Lad beat Sung J-h 21-9,21-19 

**Output:**

T Lad SW : 4, GW : 2, SL :  1, GL :  0
<br>C Birch SW : 1, GW : 0, SL :  2, GL :  1
<br>Sung J-h SW : 21, GW : 0, SL :  2, GL :  1

**Explanation for output:**
<br> T Lad has won 4 sets and 6 games and has lost 1 set and hasn't lost any game as we can see from the given results.
<br> Similarly,C Birch has won 1 sets and no game and has lost 2 sets and lost 1 game as we can see from the given results.
<br> Finally,Sung J-h has won 21 sets and no game and has lost 2 sets and lost 1 game as we can see from the given results.

### Sample Test Case 1:

Input:

L Kjaersfeldt:M Ulitina:21-15,21-19
<br>A Yamaguchi:L Kjaersfeldt:21-6,21-13
<br>K Gilmour:R Das:21-16,21-13

Output:

L Kjaersfeldt : SW : 2, GW : 1, SL : 2, GL : 1
<br>M Ulitina : SW : 0, GW : 0, SL : 2, GL : 1
<br>A Yamaguchi : SW : 2, GW : 1, SL : 0, GL : 0
<br>K Gilmour : SW : 2, GW : 1, SL : 0, GL : 0
<br>R Das : SW : 0, GW : 0, SL : 2, GL : 1


### Sample Test Case 2:

Input:

Sun Y:L A Mainaky:21-13,21-9
<br>Sun Y:B Corrales:21-11,19-21,23-21
<br>P. V. Sindhu:Sun Y:21-13,21-9
<br>L A Mainaky:K Foo Kune:21-11,21-16

Output:

Sun Y : SW : 4, GW : 2, SL : 3, GL : 1
<br>L A Mainaky : SW : 2, GW : 1, SL : 2, GL : 1
<br>B Corrales : SW : 1, GW : 0, SL : 2, GL : 1 
<br>P. V. Sindhu : SW : 2, GW :  1, SL : 0, GL : 0
<br>K Foo Kune : SW : 0, GW :  0, SL : 2, GL : 1

**Lets get started by defining our input as a list.**
<br> Lets start with sample test case 3

P. V. Sindhu:Kim H-m:21-16,21-14
<br>P. V. Sindhu:Cheung N Y:19-21,23-21,21-17
<br>S Nehwal:S Jaquet:21-11,21-12
<br>Nozomi Okuhara:S Nehwal:12-21,21-17,21-10
<br>Nozomi Okuhara:P. V. Sindhu:21-19,20-22,22-20

In [1]:
match_details = [
"P. V. Sindhu:Kim H-m:21-16,21-14",
"P. V. Sindhu:Cheung N Y:19-21,23-21,21-17",
"S Nehwal:S Jaquet:21-11,21-12",
"Nozomi Okuhara:S Nehwal:12-21,21-17,21-10",
"Nozomi Okuhara:P. V. Sindhu:21-19,20-22,22-20"
]

In [2]:
??import

Object `import` not found.

In [3]:
match_details

['P. V. Sindhu:Kim H-m:21-16,21-14',
 'P. V. Sindhu:Cheung N Y:19-21,23-21,21-17',
 'S Nehwal:S Jaquet:21-11,21-12',
 'Nozomi Okuhara:S Nehwal:12-21,21-17,21-10',
 'Nozomi Okuhara:P. V. Sindhu:21-19,20-22,22-20']

**Step 1 : Reading the input.**

You have to do three things here:
>1. Create a set of all the names, name it as *players*.
>2. Create a dictionary with keys as "Winner", "Loser" and "Matches" and their values would be winner, loser and the matches ('12-21,21-17,21-10') respectively.
>3. The dictionary that you create in previous step is for one match, you need to create a list of these dictionaries for all matches. Name the list as *match_details_combined*.

In [4]:
#1. Create a set of all the names, name it as players.
Player_names = set({})

In [5]:
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    Player_names.add(name1)
    Player_names.add(name2)
print(str(Player_names))

{'Nozomi Okuhara', 'Kim H-m', 'P. V. Sindhu', 'S Jaquet', 'Cheung N Y', 'S Nehwal'}

In [6]:
#2 Create a dictionary with keys as "Winner", "Loser" and "Matches" and their values would be winner, loser and the matches ('12-21,21-17,21-10') respectively.
namescores = {}
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    namescores['Winner'] = name1
    namescores['Looser'] = name2
    namescores['Score'] = line_split[2]
    print(str(namescores))
#print(str(namescores))

{'Winner': 'P. V. Sindhu', 'Looser': 'Kim H-m', 'Score': '21-16,21-14'}
{'Winner': 'P. V. Sindhu', 'Looser': 'Cheung N Y', 'Score': '19-21,23-21,21-17'}
{'Winner': 'S Nehwal', 'Looser': 'S Jaquet', 'Score': '21-11,21-12'}
{'Winner': 'Nozomi Okuhara', 'Looser': 'S Nehwal', 'Score': '12-21,21-17,21-10'}
{'Winner': 'Nozomi Okuhara', 'Looser': 'P. V. Sindhu', 'Score': '21-19,20-22,22-20'}

In [7]:
#3. The dictionary that you create in previous step is for one match, you need to create a list of these dictionaries for all matches. Name the list as match_details_combined.
player_details = {}
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    player_details[name1] = {}
    player_details[name2] = {}
    player_details[name1]['SW'] = 0
    player_details[name1]['GW'] = 0
    player_details[name1]['SL'] = 0
    player_details[name1]['GL'] = 0
    player_details[name2]['SW'] = 0
    player_details[name2]['GW'] = 0
    player_details[name2]['SL'] = 0
    player_details[name2]['GL'] = 0
    
print(str(player_details))

{'P. V. Sindhu': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Cheung N Y': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Nehwal': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Nozomi Okuhara': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}}

Now you have created a list of dictionaries of all matches. 
<br> The structure obtained is now more accessible and readable.

Before moving on to the further steps our final dictionary should look like this:

`    
player_n_details = {"player_name" : {"SW" : no. of sets won, "GW" : no. of games won, "SL" : no. of sets lost, "GL" : no. of games lost}}
`
<font color=red>Expected Output: </font>
<br>For Cheung N Y, your player_n_details dictionary would look like this: 
<br>{'Cheung N Y': {'GL': 0, 'GW': 0, 'SL': 0, 'SW': 0}}

*player_n_details* is the detail of nth player, we need details of all players together. For that you can use any data structure of your choice. We have used dictionary here. Name it as *player_details*.

In the upcoming steps, we will start filling these attributes i.e. SW,GW,SL,GL one by one for each player and then display the output in the required format.

In the following cells, your have to create *player_n_details* as shown above and assign SW,GW,SL,GL to 0.
<br> Then combine all *player_n_details* to form *player_details*

Now your final dictionary for each player is ready.
<br> The only task left is to fill in the values for each attribute i.e GW,GL,SL,SW

**Step 2 : Calculating the games won**

Now that your *player_details* dictionary is ready further work will be easier.
Finding games won attribute and games lost the easiest of all four attributes.

So how do we go about it?
<br> We will go over all the winners for the corresponding *GW* entry of the winner we will assign as 1, no need to do anything for losers as their *GW* was already set to 0.

In [8]:
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    scores = line_split[2]
    score_pairs = scores.split(',')
    #name1_3set_won = 0
  #  name1_5set_won = 0
   # name2_3set_won = 0
   # name2_5set_won = 0
    player_details[name1]['GW'] = int(player_details[name1]['GW'])+1
    player_details[name2]['GW'] = int(player_details[name2]['GW'])+ 0     
print(player_details)

{'P. V. Sindhu': {'SW': 0, 'GW': 2, 'SL': 0, 'GL': 0}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Cheung N Y': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Nehwal': {'SW': 0, 'GW': 1, 'SL': 0, 'GL': 0}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Nozomi Okuhara': {'SW': 0, 'GW': 2, 'SL': 0, 'GL': 0}}

**Step 3 : Calculating the games lost**

This one is very similar to the previous step that is why, we won't give out the method to this one.
<br> Go Ahead. Crack this yourself.

In [9]:
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    scores = line_split[2]
    score_pairs = scores.split(',')
    #name1_3set_won = 0
  #  name1_5set_won = 0
   # name2_3set_won = 0
   # name2_5set_won = 0
    player_details[name1]['GL'] = int(player_details[name1]['GL'])+1
    player_details[name2]['GL'] = int(player_details[name2]['GL'])+ 0     
print(player_details)

{'P. V. Sindhu': {'SW': 0, 'GW': 2, 'SL': 0, 'GL': 2}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Cheung N Y': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Nehwal': {'SW': 0, 'GW': 1, 'SL': 0, 'GL': 1}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Nozomi Okuhara': {'SW': 0, 'GW': 2, 'SL': 0, 'GL': 2}}

**Step 4 : Splitting Matches in *match_details_combined***

Now before entering into calculations for sets won and sets lost.
<br> Lets make a few changes to match_details dictionary.
<br> Split the value "Matches" in match_details into a list of separate matches. 
<br> It should look something like this :
<br> "21-13,20-21" -> [[21,13],[20,21]] 
<br> ** Make sure when you split, that the resultant numbers are integers (use type casting)**

In [10]:
match_details

['P. V. Sindhu:Kim H-m:21-16,21-14',
 'P. V. Sindhu:Cheung N Y:19-21,23-21,21-17',
 'S Nehwal:S Jaquet:21-11,21-12',
 'Nozomi Okuhara:S Nehwal:12-21,21-17,21-10',
 'Nozomi Okuhara:P. V. Sindhu:21-19,20-22,22-20']

In [11]:
score_pair_split = []
for line in match_details:
    score_pair_split_temp = []
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    scores = line_split[2]
    score_pairs = scores.split(',')
    for score_pair in score_pairs:  
          score_pair_split_temp.append(score_pair.split('-'))
    score_pair_split.append(score_pair_split_temp)   
print(score_pair_split)

[[['21', '16'], ['21', '14']], [['19', '21'], ['23', '21'], ['21', '17']], [['21', '11'], ['21', '12']], [['12', '21'], ['21', '17'], ['21', '10']], [['21', '19'], ['20', '22'], ['22', '20']]]

**Step 5 : Calculating the sets won and sets lost**

This is a bit difficult as compared to the previous steps.
<br> We iterate over all players.
<br> For each player:
><br> 1.If the player is winner of match and then compare the elements in the list. 
<br> For eg. [[21,13],[20,21]], the winner of the match has one first set.
<br> Increase the SW of that player by one.
<br> Also, he has lost second set in the match.
<br> Increase the SL of that player by one.
 
>2.If the player is loser of match and then compare the elements in the list. 
<br> For eg. [[21,13],[20,21]], the loser of the match has one second set.
<br> Increase the SW of that player by one.
<br> Also, he has lost first set in the match.
<br> Increase the SL of that player by one.

In [12]:
player_details = {}
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    player_details[name1] = {}
    player_details[name2] = {}
    player_details[name1]['SW'] = 0
    player_details[name1]['GW'] = 0
    player_details[name1]['SL'] = 0
    player_details[name1]['GL'] = 0
    player_details[name2]['SW'] = 0
    player_details[name2]['GW'] = 0
    player_details[name2]['SL'] = 0
    player_details[name2]['GL'] = 0
    
print(str(player_details))

{'P. V. Sindhu': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Cheung N Y': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Nehwal': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}, 'Nozomi Okuhara': {'SW': 0, 'GW': 0, 'SL': 0, 'GL': 0}}

In [13]:
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    scores = line_split[2]
    score_pairs = scores.split(',')
    player_details[name1]['GW'] = int(player_details[name1]['GW'])+1
    player_details[name1]['GL'] = int(player_details[name1]['GL'])+0
    player_details[name2]['GW'] = int(player_details[name2]['GW'])+ 0 
    player_details[name2]['GL'] = int(player_details[name2]['GL'])+1
    
    for score_pair in score_pairs:
        
        score_pair_split = score_pair.split('-')
        if (len(score_pairs)>3 and len(score_pairs)<=5 and (int(score_pair_split[0]) >=6 or int(score_pair_split[1]) >=6)):
                    
                    if int(score_pair_split[0])>int(score_pair_split[1]):
                        player_details[name1]['SW'] = int(player_details[name1]['SW'])+1
                        player_details[name2]['SL'] = int(player_details[name2]['SL'])+1
                       
                        
                    elif int(score_pair_split[0])<int(score_pair_split[1]):
                        player_details[name1]['SL'] = int(player_details[name1]['SL'])+1
                        player_details[name2]['SW'] = int(player_details[name2]['SW'])+1
                    
                        
        elif (len(score_pairs)<=3 and (int(score_pair_split[0]) >=6 or int(score_pair_split[1]) >=6)):

                    if int(score_pair_split[0])>int(score_pair_split[1]):
                        player_details[name1]['SW'] = int(player_details[name1]['SW'])+1
                        player_details[name2]['SL'] = int(player_details[name2]['SL'])+1
                        
                    elif int(score_pair_split[0])<int(score_pair_split[1]):
                        player_details[name1]['SL'] = int(player_details[name1]['SL'])+1
                        player_details[name2]['SW'] = int(player_details[name2]['SW'])+1
print(player_details)

{'P. V. Sindhu': {'SW': 5, 'GW': 2, 'SL': 3, 'GL': 1}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 2, 'GL': 1}, 'Cheung N Y': {'SW': 1, 'GW': 0, 'SL': 2, 'GL': 1}, 'S Nehwal': {'SW': 3, 'GW': 1, 'SL': 2, 'GL': 1}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 2, 'GL': 1}, 'Nozomi Okuhara': {'SW': 4, 'GW': 2, 'SL': 2, 'GL': 0}}

**Step 6 : Formatting the output in required form**

In this step you have to format and print the output in the exact form as shown in the sample test cases and you can verify your answer with the expected output given below.

In [14]:
import pandas as pd

In [15]:
Expected_Output = pd.DataFrame(player_details).T.reset_index().rename(columns = {'index':'Player name'})

In [16]:
Expected_Output.head()

    Player name  SW  GW  SL  GL
0  P. V. Sindhu   5   2   3   1
1       Kim H-m   0   0   2   1
2    Cheung N Y   1   0   2   1
3      S Nehwal   3   1   2   1
4      S Jaquet   0   0   2   1

In [17]:
Expected_Output.sort_values('Player name')

      Player name  SW  GW  SL  GL
2      Cheung N Y   1   0   2   1
1         Kim H-m   0   0   2   1
5  Nozomi Okuhara   4   2   2   0
0    P. V. Sindhu   5   2   3   1
4        S Jaquet   0   0   2   1
3        S Nehwal   3   1   2   1

<font color=red>Expected Output: </font>

<table style = "text-align: left;width:50%">
    <tr>
        <th>
            Player name
        </th>
        <th>
            SW
        </th>
        <th>
            GW
        </th>
        <th>
            SL
        </th>
        <th>
            GL
        </th>
    </tr>
  <tr>
    <td>**Cheung N Y**</td>
    <td>1</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
  </tr>
  <tr>
     <td>**P. V. Sindhu**</td>
     <td>5</td>
     <td>2</td>
     <td>3</td>
     <td>1</td>
  </tr>  
  <tr>
  <td>**S Nehwal**</td>
  <td>3</td>
    <td>1</td>
    <td>2</td>
    <td>1</td>
   </tr> 
   <tr>
  <td>**Kim H-m**</td>
    <td>0</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
   </tr> 
   <tr>
  <td>**Nozomi Okuhara**</td>
    <td>4</td>
    <td>2</td>
    <td>2</td>
    <td>0</td>
  </tr>  
  <tr>
  <td>**S Jaquet**</td>
    <td>0</td>
    <td>0</td>
    <td>2</td>
    <td>1</td>
  </tr>
</table>

In [76]:
for line in match_details:
    line_split = line.split(':')
    name1 = line_split[0]
    name2 = line_split[1]
    scores = line_split[2]
    score_pairs = scores.split(',')
    #name1_3set_won = 0
  #  name1_5set_won = 0
   # name2_3set_won = 0
   # name2_5set_won = 0
    player_details[name1]['GW'] = int(player_details[name1]['GW'])+1
    player_details[name1]['GL'] = int(player_details[name1]['GL'])+0
    player_details[name2]['GW'] = int(player_details[name2]['GW'])+ 0 
    player_details[name2]['GL'] = int(player_details[name2]['GL'])+1
    
    for score_pair in score_pairs:
        
        score_pair_split = score_pair.split('-')
        if (len(score_pairs)>3 and len(score_pairs)<=5 and (int(score_pair_split[0]) >=6 or int(score_pair_split[1]) >=6)):
                    
                    if int(score_pair_split[0])>int(score_pair_split[1]):
                        player_details[name1]['SW'] = int(player_details[name1]['SW'])+1
                        player_details[name2]['SL'] = int(player_details[name2]['SL'])+1
                        #name1_5set_won += 1
                        
                    elif int(score_pair_split[0])<int(score_pair_split[1]):
                        player_details[name1]['SL'] = int(player_details[name1]['SL'])+1
                        player_details[name2]['SW'] = int(player_details[name2]['SW'])+1
                     #   name2_5set_won += 1
                        
        elif (len(score_pairs)<=3 and (int(score_pair_split[0]) >=6 or int(score_pair_split[1]) >=6)):

                    if int(score_pair_split[0])>int(score_pair_split[1]):
                        player_details[name1]['SW'] = int(player_details[name1]['SW'])+1
                        player_details[name2]['SL'] = int(player_details[name2]['SL'])+1
                        
                    elif int(score_pair_split[0])<int(score_pair_split[1]):
                        player_details[name1]['SL'] = int(player_details[name1]['SL'])+1
                        player_details[name2]['SW'] = int(player_details[name2]['SW'])+1
print(player_details)

{'P. V. Sindhu': {'SW': 5, 'GW': 4, 'SL': 3, 'GL': 3}, 'Kim H-m': {'SW': 0, 'GW': 0, 'SL': 2, 'GL': 1}, 'Cheung N Y': {'SW': 1, 'GW': 0, 'SL': 2, 'GL': 1}, 'S Nehwal': {'SW': 3, 'GW': 2, 'SL': 2, 'GL': 2}, 'S Jaquet': {'SW': 0, 'GW': 0, 'SL': 2, 'GL': 1}, 'Nozomi Okuhara': {'SW': 4, 'GW': 4, 'SL': 2, 'GL': 2}}